{% extends 'base.html' %}
{% load static %}

{% block title %}
Мои турниры
{% endblock %}

{% block content %}
<div class="col-md-12 row row-eq-height" 
	 style="
		margin: 50px 0px 0px 0px; 
		display: -webkit-box; 
		display: -webkit-flex; 
		display: -ms-flexbox; 
		display: flex;"
>

<div class="col-12">
	<button type="button" class="btn btn-link btn-sm"
			style="margin: 0px 0px 20px 0px"
			data-target="#create_ts_modal"
			data-toggle="modal" >
		<span class="text-success">
			<i class="fas fa-plus"></i>
			<small>Добавить серию</small>
		</span>
	</button>
</div>

{% for dict in ts_dict %}
	{% if dict.type == "created" %}
		<div class="col-12 dropdown">
			<button class="col-12 btn btn-primary btn-sm dropdown-toggle" 
					type="button" id="organizationDropdown" 
					data-toggle="dropdown" aria-haspopup="true" 
					aria-expanded="false">
				{{ dict.label }}
			</button>
		{% if ts_dict.0.ts %}
			<ul class="dropdown-menu" role="menu"
				 aria-labelledby="organizationDropdown">
			{% for ts in ts_dict.0.ts %}
				<li><small><a class="nav-link ml-3 dropdown-item" 
						  href="#created_ts_{{ ts.id }}">
					{{ ts.title }}
				</a></small></li>
			{% endfor %}
			</ul>
		{% endif %}
		</div>
	{% else  %}
		<div class="col-12 dropdown">
			<button class="col-12 btn btn-primary btn-sm dropdown-toggle" 
					type="button" id="participantDropdown" 
					data-toggle="dropdown" aria-haspopup="true" 
					aria-expanded="false">
				{{ dict.label }}
			</button>
		{% if ts_dict.1.ts %}
			<ul class="dropdown-menu" role="menu"
				 aria-labelledby="participantDropdown">
			{% for ts in ts_dict.1.ts %}
				<li><small><a class="nav-link ml-3 dropdown-item" 
						  href="#played_ts_{{ ts.id }}">
					{{ ts.title }}
				</a></small></li>
			{% endfor %}
			</ul>
		{% endif %}
		</div>
	{% endif %}
	{% if not dict.ts %}
		<div class="alert alert-warning" role="alert">
			Турниров нет
		</div>
	{% else %}
		{% for ts in dict.ts %}
			<div class="card-group col-6 col-sm-4 col-md-3 col-lg-3 col-xl-2"
				 style="margin: 20px 0px 20px 0px"
				 id="{{ dict.type }}_ts_{{ ts.id }}">
				{% include './ts_card.html' %}
			</div>
		{% endfor %}
	{% endif %}
{% endfor %}

	<form method="post" action="." class="row" 
		  enctype="multipart/form-data" id="create_ts_form">
		{% csrf_token %}
		<div class="modal fade" id="create_ts_modal" tabindex="-1" role="dialog" 
			 aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" 
								data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					{% for field in form %}
						<div class="form-row">	
						{% if field is form.organization %}
							<div class="form-control
										{% if field.errors %}is-invalid{% endif %}" 
								 style="margin-top: 10px">
								<label for="{{ field.id_for_label }}">
									{{ field.label }}: 
								</label>
								<select id="{{ field.id_for_label }}" 
										form="create_ts_form"
										name="{{ field.html_name }}" required>
								{% for choice in field.field.choices %}
									<option value="{{ choice.0 }}"
										{% if field.value == choice.0  %}
											selected
										{% endif %}
											>
										{{ choice.1 }}
									</option>
								{% endfor %}
								</select>
							</div>
						{% elif field is form.description %}
							<textarea form="create_ts_form" name="description" 
									  placeholder="{{ field.label }}"
									  required="" 
									  class="form-control 
										{% if field.errors %}
											 is-invalid
										{% endif %}"
									  style="margin-top: 10px"></textarea>
						{% elif field is form.icon %}
							<input type="{{ field.field.widget.input_type }}" 
								   name="{{ field.html_name }}" 
								   placeholder="{{ field.label}}" 
								   class="form-control-file
										  {% if field.errors %}is-invalid{% endif %}" 
								   id="{{ field.id_for_label }}"
								   style="margin-top: 10px">
						{% else %}
							<input type="{{ field.field.widget.input_type }}" 
								   name="{{ field.html_name }}" 
								   placeholder="{{ field.label}}" 
								   class="form-control
										  {% if field.errors %}is-invalid{% endif %}" 
								   required="True" 
								   id="{{ field.id_for_label }}"
								   style="margin-top: 10px">
						{% endif %}

						{% if field.errors %}
						{% for error in field.errors %}
							<div class="invalid-feedback">
								{{ error }}
							</div>
						{% endfor %}
						{% endif %}
						</div>
					{% endfor %}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" 
								data-dismiss="modal">
							Отмена
						</button>
						<input type="submit" class="btn btn-primary" value="Добавить"/>
					</div>
				</div>
			</div>
		</div>
	</form>

	<!-- show tooltips -->
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>

</div>
{% endblock %}
