{% extends 'index/ts_list_base.html' %}
{% load static %}

{% block title %}
Серии турниров
{% endblock %}

{% block item_content %}
	<a href="{% url 'ts_detail' tournament_series_id=ts.pk %}" 
	   class="card-header nav-link text-center"
	   style="padding: 0.25rem 0.5rem">
		<h5>
			{{ ts.title }}
		</h5>
	</a>
	<img src="{% static "index/img/test_avatar_ts.jpg" %}" 
		 class="card-img-top img-fluid">
	<div class="card-body">
		<div class="alert alert-secondary" role="alert">
			Организация: 
			{{ ts.organization.organization_name }}
		</div>
		<div class="alert alert-secondary" role="alert">
			Даты проведения:<br> 
			{{ ts.ts_start_date }} - {{ ts.ts_end_date }}
		</div>
	</div>
	<div class="row card-footer" 
		 style="padding: 10px 5px; margin-left: 0px; margin-right: 0px">
		<div class="col-6">
			<small class="text-muted">
				<a href="{% url 'ts_detail' tournament_series_id=ts.pk %}">
					Подробнее
				</a>
			</small>
		</div>
		<div class="col-6 text-right">
			<small class="text-muted">
				<a href="{% url 'ts_rating_detail' ts_rating_id=ts.pk %}">
					Рейтинг
				</a>
			</small>
		</div>
	</div>
{% endblock %}
