{% extends 'base.html' %}
{% load static %}

{% block title %}
Серия турниров {{ tournaments.0.tournament_series.title }} 
{% endblock %}

{% block content %}
<div class="col-md-12" style="margin: 50px 0px 0px 0px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;">
	<div class="col-md-12">
		{% for t in tournaments %}
			<div class="container border border-primary rounded-top" 
				 style="margin-bottom: 10px;">
				<div class="row" 
					 style="margin-bottom: 20px;">
					<div class="col-md-12"
						 style="padding: 0px;">
						<h2>
							<a class="col-md-12 badge badge-primary" 
							   href="{% url 't_detail' tournament_series_id=t.tournament_series.pk tournament_id=t.pk %}">
								Турнир № {{ t.serial_number}} -
								серия турниров "{{ t.tournament_series.title }}"
							</a>
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8">
						{{ t.tournament_series.description|linebreaksbr|truncatewords_html:"100" }}
					</div>
					<div class="col-md-4">
						<ul>
							<li>
								Организация: 
								{{ t.tournament_series.organization.organization_name }}
							</li>
							<li>
								Дата начала турнира: 
								{{ t.tournament_series.ts_start_date }}
							</li>
							<li>
								Дата окончания турнира: 
								{{ t.tournament_series.ts_end_date }}
							</li>
						</ul>
					</div>
				</div>
				<div class="row justify-content-end">
					<a href="{% url 't_detail' tournament_series_id=t.tournament_series.pk tournament_id=t.pk %}"
					   style="padding: 0 10px 10px 0px">
						Подробнее
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
