{% extends "base.html" %}

{% block title %}
Вход
{% endblock %}

{% block content %}
<div class="col-12 row justify-content-center" 
	 style="margin-top: 40px;">

	{% if next %}
	    {% if user.is_authenticated %}
			<p>Ваш аккаунт не имеет доступ к этой странице.</p>
	    {% else %}
		    <p>Войдите на сайт для просмотра страницы.</p>
	    {% endif %}
	{% endif %}

	{% if form.errors %}
		<div class="col-12 row justify-content-center alert alert-danger"
			>
			<p>Введен неверный логин или пароль. Попробуйте еще раз.</p>
		</div>
	{% endif %}

	<form method="post" action="{% url 'login' %}" class="col-4">
		{% csrf_token %}
		<label for="username" class="sr-only">Логин</label>
		<input type="text" id="username" name="username" class="form-control" 
			   placeholder="Логин" required="" autofocus="">
		<label for="password" class="sr-only">Пароль</label>
		<input type="password" id="password" name="password" class="form-control" 
			   placeholder="Пароль" required="">
		<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
		<input class="btn btn-lg btn-primary btn-block" type="submit" value="Войти">
		<input type="hidden" name="next" value="{{ next }}">
	</form>
</div>
{% endblock %}
