{% extends "base.html" %}

{% block title %}
Регистрация
{% endblock %}

{% block content %}
<div class="col-12" 
	 style="margin-top: 40px;">

	<form method="post" action="." class="row justify-content-center">
		{% csrf_token %}
		<div class="col-4 card" style="padding: 0px;">
			<div class="card-header">
				<h5>Регистрация: шаг 1</h5>
			</div>
			<div class="card-body">
			{% for field in form %}
				<div class="form-row">	
					<input type="{{ field.field.widget.input_type }}" 
						   name="{{ field.html_name }}" 
						   placeholder="{{ field.label}}" 
						   class="form-control 
								  {% if field.errors %}is-invalid{% endif %}" 
						   required="" id="{{ field.id_for_label }}"
						   style="margin-top: 10px">
					{% if field.errors %}
						{% for error in field.errors %}
						<div class="invalid-feedback">
							{{ error }}
						</div>
						{% endfor %}
					{% endif %}
				</div>
			{% endfor %}
			</div>
			<input type="submit" class="btn btn-lg btn-primary btn-block" 
				   value="Перейти к шагу 2">
		</div>
	</form>
</div>
{% endblock %}
